{% extends 'base.html' %} {% block content %} {% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
          Looking for your next great watch? We’ve got everything from blockbusters to hidden gems—all
           just a few clicks away. No need to go to the theatre, just instant streaming in crisp HD. You can rent or
          purchase your favorite titles and instantly stream them from anyplace at anytime.
        </p>
        <p>
          <i> A vast ocean of great options to choose from. #1 Dolphin approved movie store</i>
        </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img
          src="{% static 'img/about.jpeg' %}"
          class="max-width-100"
          alt="about"
        />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
